[submodule "src/mile-csa-api"]
	path = src/mile-csa-api
	url = https://github.com/mile-core/mile-csa-api.git
[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
